:export {
  menuText: #bfcbd9;
  menuActiveText: #409EFF;
  subMenuActiveText: #f4f4f5;
  menuBg: #304156;
  menuHover: #001529;
  subMenuBg: #001529;
  subMenuHover: #001528;
  sideBarWidth: 210px;
  hoverBg: #f7f1f1ef;
}
